
.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    //grid-template-rows: repeat(3, auto);
}

.col-grid {
    //padding: .4em 1.3em;
    margin: 1em;
    border-radius: 4px;
    overflow:hidden;
    height: 200px;
}

.color-dark{
    background:linear-gradient(to right,#323776,#3C3E6D) ;
    border-radius: 4px;
    margin-bottom: 1em;
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.story-img {
    width: 100%;
    border-radius: 4px;
    height: auto;
    cursor:pointer;
}

.story-img:hover {
    opacity:0.5;
    z-index:2; 
    float:left;
}

.absolute {
    font-size: 25px;
    position: absolute;
    text-align: center;
}

.on-top {
    z-index:10;
}

/****** MODAL ******/

 /* The Modal (background) */
 .story-modal {
    border-radius: 5px;
    color: black;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

/* The Close Button */
.story-modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.story-modal__close:hover,
.story-modal__close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

 /* Modal Header */
 .story-modal__content--header {
    padding: 2px 16px;
    background: linear-gradient(to right, #434995, #3A5E8D);
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    color: whitesmoke;
}

/* Modal Body */
.story-modal__content--body {
    padding: 3em;
    padding-left: 5em;
    padding-right: 5em;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    background: linear-gradient(to right, #003366, #000033);
    color: whitesmoke;
}

.story-modal__content-text {
    font-size: 18px;
    text-align: justify;
}

/* Modal Content */
.story-modal__content {
    position: relative;
    margin: auto;
    margin-top: 5em;
    padding: 0;
    border-radius: 4px;
    opacity: 0.98;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
} 