@import 'prismjs/themes/prism.css';

.home{
    font-size:25px;
}

.color-dark{
    background:linear-gradient(to right,#323776,#3C3E6D) ;
    border-radius: 4px;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}